# core
node_modules/

# secrets
.env
.env.local
.env.*.local

# build artefacts
.turbo/
dist/
.next/
*.tsbuildinfo

# logs
*.log

# editor
.idea/
.vscode/

# os
.DS_Store
Thumbs.db

# coverage
coverage/
